<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AppSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AppSettings.Properties.Settings>
            <setting name="TextColor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MainColor" serializeAs="String">
                <value>#8F8F8F</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
        </AppSettings.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
